# Workspace STS / Eclipse
.metadata/

# Compilados Java / Maven / Gradle
target/
bin/
build/

# PROYECTOS excluidos
documentos/
gestoriaprofe/
Servidores/
Servers/

# Node.js y Frontend
node_modules/
npm-debug.log
pnpm-debug.log

# Ejecutables java bytecodes
*.class

# Eclipse / STS dentro de proyectos
.classpath
.project
.settings/

# IntelliJ / VS Code
.idea/
*.iml
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Configuración local / secretos
.env
application-local.properties
application-dev.properties