:root {
    --as-green: #2e7d32;
    --red-l: #c62828;
    --red-d: #8e0000;
    --org-l: #f5a623;
    --org-d: #d39e00;
}

.as-stat-card {
    max-width: 900px;
    margin: 20px auto;
    background: #f5f5f5;
    font-family: Arial, sans-serif;
    border-radius: 4px;
    overflow: hidden;
}

.as-header {
    background: var(--as-green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    color: white;
}

.logo-ring {
    width: 46px;
    height: 46px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-ring img {
    width: 50px;
    margin: -30px 0px 0px 0px;
    zoom: 1.2;
}


.as-grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Mitad exacta para cada equipo */
    gap: 2px;
    /* La línea blanca central */
}

.team-label {
    display: flex;
    justify-content: space-between;
    padding: 12px 10px 5px;
    font-size: 13px;
    font-weight: bold;
}

.bar-half {
    height: 110px;
    position: relative;
    /* Base para el cuadro oscuro */
}

.local.bar-half {
    background: var(--red-l);
}

.visitor.bar-half {
    background: var(--org-l);
}

/* Cuadro oscuro "A puerta" */
.dark-box {
    position: absolute;
    bottom: 0;
    height: 62%;
    /* Altura reducida respecto a la barra principal */
    border: 1px solid rgba(255, 255, 255, 0.7);
    /* El borde blanco fino */
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

/* Local: Se pega a la derecha (al centro de la tarjeta) */
.local .dark-box {
    right: 0;
    background: var(--red-d);
    justify-content: flex-end;
}

/* Visitante: Se pega a la izquierda (al centro de la tarjeta) */
.visitor .dark-box {
    left: 0;
    background: var(--org-d);
    justify-content: flex-start;
}

/* Estilo de los Números */
.num {
    color: white;
    font-size: 34px;
    font-weight: bold;
    padding: 0 15px;
    z-index: 2;
}

.num-outside {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.local .num-outside {
    left: 0;
}

.visitor .num-outside {
    right: 0;
}

/* Footer */
.as-footer {
    padding: 25px;
    text-align: center;
}

.footer-desc {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.footer-vals {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-progress {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;
}


.track {
    flex: 1;
    height: 10px;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.track.local {
    transform: scaleX(-1);
}

/* Para que crezca del centro afuera */
.fill {
    height: 100%;
}

.track.local .fill {
    background: var(--red-l);
}

.track.visitor .fill {
    background: var(--org-l);
}